Repository totvs/ttalk-standard-message, pull requests merged in 2018-10, with the labels that each got.

#24 TextPattern/V1/1_000
  jsonschema/apis/TextPattern_1_000.json
  jsonschema/schemas/TextPattern_1_000.json
Labels: API, Schema

#3 API/Schema da mensagem para manipulação ta tabela de CID-10
  jsonschema/apis/Icd10_1_000.json
  jsonschema/schemas/Icd10_1_000.json
Labels: API, Schema

#18 MedicalSpecialty/V1/1_000
  jsonschema/apis/MedicalSpecialty_1_000.json
  jsonschema/schemas/MedicalSpecialty_1_000.json
Labels: API, Schema

#23 SecondCopyReason/V1/1_000
  jsonschema/apis/SecondCopyReason_1_000.json
  jsonschema/schemas/SecondCopyReason_1_000.json
Labels: API, Schema

#6 BeneficiaryCardNumberStatus/V1/1_000
  jsonschema/apis/BeneficiaryCardNumberStatus_1_000.json
  jsonschema/schemas/BeneficiaryCardNumberStatus_1_000.json
Labels: API, Schema

#7 BeneficiaryStatus/V1/1_000
  jsonschema/apis/BeneficiaryStatus_1_000.json
  jsonschema/schemas/BeneficiaryStatus_1_000.json
Labels: API, Schema

#20 ProposalStatus/V1/1_000
  jsonschema/apis/ProposalStatus_1_000.json
  jsonschema/schemas/ProposalStatus_1_000.json
Labels: API, Schema

#8 ContractStatus/V1/1_000
  jsonschema/apis/ContractStatus_1_000.json
  jsonschema/schemas/ContractStatus_1_000.json
Labels: API, Schema

#22 RegisterStatus/V1/1_000
  jsonschema/apis/RegisterStatus_1_000.json
  jsonschema/schemas/RegisterStatus_1_000.json
Labels: API, Schema

#12 CreditStatus/V1/1_000
  jsonschema/apis/CreditStatus_1_000.json
  jsonschema/schemas/CreditStatus_1_000.json
Labels: API, Schema

#10 CoverageModule/V1/1_000
  jsonschema/apis/CoverageModule_1_000.json
  jsonschema/schemas/CoverageModule_1_000.json
Labels: API, Schema

#11 CoverageModuleGroup/V1/1_000
  jsonschema/apis/CoverageModuleGroup_1_000.json
  jsonschema/schemas/CoverageModuleGroup_1_000.json
Labels: API, Schema

#14 HealthCondition/V1/1_000
  jsonschema/apis/HealthCondition_1_000.json
  jsonschema/schemas/HealthCondition_1_000.json
Labels: API, Schema

#21 ProposalType/V1/1_000
  jsonschema/apis/ProposalType_1_000.json
  jsonschema/schemas/ProposalType_1_000.json
Labels: API, Schema

#5 AccommodationType/V1/1_000
  jsonschema/apis/AccommodationType_1_000.json
  jsonschema/schemas/AccommodationType_1_000.json
Labels: API, Schema

#15 HealthProviderGroup/V1/1_000
  jsonschema/apis/HealthProviderGroup_1_000.json
  jsonschema/schemas/HealthProviderGroup_1_000.json
Labels: API, Schema

#16 HealthProviderRelationType/V1/1_000
  jsonschema/apis/HealthProviderRelationType_1_000.json
  jsonschema/schemas/HealthProviderRelationType_1_000.json
Labels: API, Schema

#9 CopaymentType/V1/1_000
  jsonschema/apis/CopaymentType_1_000.json
  jsonschema/schemas/CopaymentType_1_000.json
Labels: API, Schema

#17 IndexIncreaseType/V1/1_000
  jsonschema/apis/IndexIncreaseType_1_000.json
  jsonschema/schemas/IndexIncreaseType_1_000.json
Labels: API, Schema

#19 MedicineBranch/V1/1_000
  jsonschema/apis/MedicineBranch_1_000.json
  jsonschema/schemas/MedicineBranch_1_000.json
Labels: API, Schema

#33 StopReason/v1/1 000
  jsonschema/apis/StopReason_v1_000.json
  jsonschema/schemas/StopReason_1_000.json
Labels: API, Schema

#39 Buyers/v1/1_000
  jsonschema/apis/Buyers_v1_000.json
  jsonschema/schemas/Buyers_1_000.json
Labels: API, Schema

#66 Beneficiary/v1/1 000
  jsonschema/apis/Beneficiary_v1_000.json
  jsonschema/schemas/Beneficiary_1_000.json
Labels: API, Schema

#63 Product/v1/1 000
  jsonschema/apis/Product_v1_000.json
  jsonschema/schemas/Product_1_000.json
Labels: API, Schema

#68 Files/v1/1 000
  jsonschema/apis/Files_v1_000.json
  jsonschema/schemas/Files_1_000.json
Labels: API, Schema

#87 Correção da palavra "avialable" para "available"
  jsonschema/schemas/Suspects_2_000.json
Labels: Schema

#52 approvers/v1/2_000
  jsonschema/apis/Approvers_v1_000.json
  jsonschema/schemas/Approvers_2_000.json
  jsonschema/schemas/PaymentCondition_2_000.json
Labels: API, Schema

#96 newBuyers/1_000
  jsonschema/schemas/Buyers_1_000.json
Labels: Schema

#73 Sales channel/v1/2_000
  jsonschema/apis/SalesChannel_v2_000.json
  jsonschema/schemas/SalesChannel_2_000.json
Labels: API, Schema

#83 ApprovalProfile/v2/2_001
  jsonschema/apis/ApprovalProfile_v2_000.json
  jsonschema/schemas/ApprovalProfile_2_001.json
Labels: API, Schema

#88 Costcenter/v1/2 003
  jsonschema/apis/CostCenter_v1_000.json
  jsonschema/schemas/CostCenter_2_002.json
Labels: API, Schema

#84 StopReason/v1/1 000
  jsonschema/apis/StopReason_v1_000.json
  jsonschema/schemas/WasteReason_1_000.json
Labels: API

#31 InventoryCounts/v1/2_000
  jsonschema/apis/InventoryCounts_v1_000.json
  jsonschema/schemas/InventoryCounts_2_000.json
Labels: API, Schema

#79 cities/v1/2_000
  jsonschema/apis/City_v1_000.json
  jsonschema/schemas/City_2_000.json
Labels: API, Schema

#48 annotations/v1/2_000
  jsonschema/apis/Annotation_v1_000.json
  jsonschema/schemas/Annotation_2_000.json
Labels: API, Schema

#70 Campaigns/v1/1_000
  jsonschema/apis/Campaigns_v1_000.json
  jsonschema/schemas/Campaigns_1_000.json
Labels: API, Schema

#42 'notes/v1/2_000'
  jsonschema/apis/Notes_v1_000.json
  jsonschema/schemas/Notes_2_000.json
Labels: API, Schema

#53 Events/v1/1 000
  jsonschema/apis/Events_v1_000.json
  jsonschema/schemas/Events_1_000.json
Labels: API, Schema

#112 Notes/v1/1_000
  jsonschema/apis/Notes_v1_000.json
  jsonschema/schemas/Notes_2_000.json
Labels: API, Schema

#113 Document/v1/1_000
  jsonschema/apis/Documents_v1_000.json
  jsonschema/schemas/Documents_1_000.json
Labels: API, Schema

#54 Inspection script/v2/2 000
  jsonschema/apis/InspectionScript_v1_000.json
  jsonschema/schemas/InspectionScript_2_000.json
Labels: API, Schema

#98 Inclusão de API e Schema para EmployeeHistoryStatus
  jsonschema/apis/EmployeeHistoryStatus_v1_000.json
  jsonschema/schemas/EmployeeHistoryStatus_1_000.json
Labels: API, Schema

#29 UnitOfMeasure/v1/1_000
  jsonschema/apis/UnitOfMeasure_v1_000.json
  jsonschema/schemas/UnitOfMeasure_1_000.json
Labels: API, Schema
