Repository totvs/ttalk-standard-message, pull requests merged in 2018-12, with the labels that each got.

#283 CalculationTables/v1/1_000
  jsonschema/apis/CalculationTables_v1_000.json
  jsonschema/schemas/CalculationTables_1_000.json
Labels: API, Schema

#150 Opportunity/v1/2 000 crm
  jsonschema/apis/Opportunity_v1_000.json
  jsonschema/schemas/Opportunity_2_000.json
Labels: API, Schema

#152 Ajustes tag x-totvs produto datasul
  jsonschema/apis/Suspects_v1_000.json
  jsonschema/schemas/Suspects_2_000.json
  jsonschema/schemas/types/GovernmentalInformation_2_000.json
Labels: Schema

#153 Prospects/v1/2_000 - Adicionado tags x-totvs para o produto Datasul.
  jsonschema/apis/Prospects_v1_000.json
  jsonschema/schemas/Prospects_2_000.json
Labels: API, Schema

#160 OperativeGroups/v1/2_000
  jsonschema/apis/OperativeGroup_v1_000.json
  jsonschema/schemas/OperativeGroup_2_000.json
Labels: API, Schema

#285 ProjectCancelSupplies/V1/1_000
  jsonschema/apis/ProjectCancelSupplies_v1_000.json
Labels: API

#273 Withdrawals/v1/1 000
  jsonschema/apis/Withdrawals_v1_000.json
  jsonschema/schemas/Withdrawals_1_000.json
Labels: API, Schema

#271 Withdrawal message
  jsonschema/apis/Withdrawals_v1_000.json
  jsonschema/schemas/withdrawals_v1_000.json
Labels: API, Schema

#336 Sellers/v1/1_000
  jsonschema/apis/Sellers_v1_000.json
  jsonschema/schemas/Seller_3_000.json
Labels: API, Schema

#260 Countries/v1/2_000
  jsonschema/apis/Country_v1_000.json
  jsonschema/schemas/Country_2_000.json
Labels: API, Schema

#338 Extract/v1/1 000
  jsonschema/apis/Extract_v1_000.json
  jsonschema/schemas/Extract_1_000.json
Labels: API, Schema

#321 Unrelated health provider/v1/1 000
  jsonschema/apis/UnrelatedHealthProvider_v1_000.json
  jsonschema/schemas/UnrelatedHealthProvider_1_000.json
Labels: API, Schema

#174 CurrencyQuote/v1/1_001
  jsonschema/apis/CurrencyQuote_v1_000.json
  jsonschema/schemas/CurrencyQuote_1_001.json
Labels: API, Schema

#343 Sellers/v1/1_000
  jsonschema/apis/Sellers_v1_000.json
Labels: API

#189 ProductDepartment/v1/1_000
  jsonschema/apis/ProductDepartment_v1_000.json
  jsonschema/schemas/ProductDepartment_1_000.json
Labels: API, Schema

#355 Models/v1/1 000
  jsonschema/apis/Models_v1_000.json
  jsonschema/schemas/Models_1_000.json
Labels: API, Schema

#317 ProjectMaterialRequestImportQuotedPrices/V1/1_000
  jsonschema/apis/ProjectMaterialRequestImportQuotedPrices_v1_000.json
  jsonschema/schemas/ProjectMaterialRequestImportQuotedPrices_1_000.json
Labels: API, Schema

#308 SummaryHistogramsAlterDeliveryDateItems/V1/1_000
  jsonschema/apis/SummaryHistogramsAlterDeliveryDateItems_v1_000.json
  jsonschema/schemas/SummaryHistogramsAlterDeliveryDateItems_1_000.json
Labels: API, Schema

#311 ProjectItemRequestUpdateQuantity/V1/1_000
  jsonschema/apis/ProjectItemRequestUpdateQuantity_v1_000.json
  jsonschema/schemas/ProjectItemRequestUpdateQuantity_1_000.json
Labels: API, Schema

#314 ProjectItemRequestContractApportionment/V1/1_000
  jsonschema/apis/ProjectItemRequestContractApportionment_v1_000.json
  jsonschema/schemas/ProjectItemRequestContractApportionment_1_000.json
Labels: API, Schema

#316 GroupedHistogramsGroupingPeriods/V1/1_000
  jsonschema/apis/GroupedHistogramsGroupingPeriods_v1_000.json
  jsonschema/schemas/GroupedHistogramsGroupingPeriods_1_000.json
Labels: API, Schema

#306 DiscriminatedHistograms/V1/1_000
  jsonschema/apis/DiscriminatedHistograms_v1_000.json
  jsonschema/schemas/DiscriminatedHistograms_1_000.json
Labels: API, Schema

#300 GroupedHistograms/V1/1_000
  jsonschema/apis/GroupedHistograms_v1_000.json
  jsonschema/schemas/GroupedHistograms_1_000.json
Labels: API, Schema

#339 ProjectUnproductiveReasons/V1/1_000
  jsonschema/apis/ProjectUnproductiveReasons_v1_000.json
  jsonschema/schemas/ProjectUnproductiveReasons_1_000.json
Labels: API, Schema

#356 ProjectRiskTeams/V1/1_000
  jsonschema/apis/ProjectRiskTeams_v1_000.json
  jsonschema/schemas/ProjectRiskTeams_1_000.json
Labels: API, Schema

#357 ProjectMobilityTeams/V1/1_000
  jsonschema/apis/ProjectMobilityTeams_v1_000.json
  jsonschema/schemas/ProjectMobilityTeams_1_000.json
Labels: API, Schema

#358 ProjectTimesheetTeams/V1/1_000
  jsonschema/apis/ProjectTimesheetTeams_v1_000.json
  jsonschema/schemas/ProjectTimesheetTeams_1_000.json
Labels: API, Schema

#364 ProjectServiceUnits/V1/1_000
  jsonschema/apis/ProjectServiceUnits_v1_000.json
  jsonschema/schemas/ProjectServiceUnits_1_000.json
Labels: API, Schema

#366 ProjectMobileCollectors/V1/1_000
  jsonschema/apis/ProjectMobileCollectors_v1_000.json
  jsonschema/schemas/ProjectMobileCollectors_1_000.json
Labels: API, Schema

#367 ProjectMobileCollectorUsers/V1/1_000
  jsonschema/apis/ProjectMobileCollectorUsers_v1_000.json
  jsonschema/schemas/ProjectMobileCollectorUsers_1_000.json
Labels: API, Schema

#362 EmployeeHistoryRoles/v1/1_000
  jsonschema/apis/EmployeeHistoryRole_v1_000.json
  jsonschema/schemas/EmployeeHistoryRole_1_000.json
Labels: API, Schema

#369 EmployeeHistoryStatus/v1/1_000
  jsonschema/schemas/EmployeeHistoryStatus_1_000.json
Labels: API, Schema

#361 EmployeeHistoryDependents/v1/1_000
  jsonschema/apis/EmployeeHistoryDependents_v1_000.json
  jsonschema/schemas/EmployeeHistoryDependents_1_000.json
Labels: API, Schema

#363 EmployeeHistorySection/v1/1_000
  jsonschema/apis/EmployeeHistorySection_v1_000.json
  jsonschema/schemas/EmployeeHistorySection_1_000.json
Labels: API, Schema

#359 Period/v1/1_000
  jsonschema/apis/Period_v1_000.json
  jsonschema/schemas/Period_1_000.json
Labels: API, Schema

#353 CalendarEvent/v1/1_000
  jsonschema/apis/CalendarEvent_v1_000.json
  jsonschema/schemas/CalendarEvent_1_000.json
Labels: API, Schema

#340 Bookings/v1/1_000
  jsonschema/apis/Bookings_v1_000.json
  jsonschema/schemas/Bookings_1_000.json
Labels: API, Schema

#330 StudentWarning/v1/1_000
  jsonschema/apis/StudentWarning_v1_000.json
  jsonschema/schemas/StudentWarning_1_000.json
Labels: API, Schema

#318 StudentContext/v1/1_000
  jsonschema/apis/StudentContext_v1_000.json
  jsonschema/schemas/StudentContext_1_000.json
Labels: API, Schema

#315 ProfessorContext/v1/1_000
  jsonschema/apis/ProfessorContext_v1_000.json
  jsonschema/schemas/ProfessorContext_1_000.json
Labels: API, Schema

#310 ProfessorDisciplineClass/v1/1_000
  jsonschema/apis/ProfessorDisciplineClass_v1_000.json
  jsonschema/schemas/ProfessorDisciplineClass_1_000.json
Labels: API, Schema

#301 ApplicantResults/v1/1 000
  jsonschema/apis/ApplicantResults_v1_000.json
  jsonschema/schemas/ApplicantResults_1_000.json
Labels: API, Schema

#294 ClassShifts/v1/1 000
  jsonschema/apis/ClassShifts_v1_000.json
  jsonschema/schemas/ClassShifts_1_000.json
Labels: API

#293 BookLoans/V1/1_000
  jsonschema/apis/BookLoans_v1_000.json
  jsonschema/schemas/BookLoans_1_000.json
Labels: API, Schema

#289 AvailableCourse/v1/1_000
  jsonschema/schemas/AvailableCourse_1_000.json
Labels: Schema

#374 HazardMeasurement/v1/1_000
  jsonschema/apis/HazardMeasurement_v1_000.json
  jsonschema/schemas/HazardMeasurement_1_000.json
Labels: API, Schema

#350 ProcedureClass/v1/1 000
  jsonschema/apis/ProcedureClass_v1_000.json
  jsonschema/schemas/ProcedureClass_1_000.json
Labels: API, Schema

#400 AttachmentType/V1/1_000
  jsonschema/apis/AttachmentType_v1_000.json
  jsonschema/schemas/AttachmentType_1_000.json
Labels: API, Schema

#371 Models/3_000
  jsonschema/schemas/Models_1_001.json
Labels: API, Schema

#393 CottonBalesOnTreadmills_v1_000
  jsonschema/schemas/CottonBalesOnTradeMills_1_000.json
Labels: Schema

#365 States/V1/1_000
  jsonschema/apis/State_v1_000.json
  jsonschema/schemas/State_2_000.json
Labels: API, Schema

#183 Sales process/v1/2 000
  jsonschema/apis/SalesProcess_v1_000.json
  jsonschema/schemas/SalesProcess_2_000.json
Labels: API, Schema

#401 AuthorizedOvertime/v1/1_000
  jsonschema/apis/AuthorizedOvertime_v1_000.json
  jsonschema/schemas/AuthorizedOvertime_1_000.json
Labels: API, Schema

#398 CalculatedOccurrences/v1/1_000
  jsonschema/apis/CalculatedOccurrences_v1_000.json
  jsonschema/schemas/CalculatedOccurrences_1_000.json
Labels: API, Schema

#32 Paymentcondition/v1/2 001
  jsonschema/apis/PaymentCondition_v1_00.json
  jsonschema/schemas/PaymentCondition_2_001.json
Labels: API, Schema

#395 AuditTopic/V1/1_000
  jsonschema/apis/AuditTopic_v1_000.json
  jsonschema/schemas/AuditTopic_2_000.json
Labels: API, Schema

#416 Alterado campos de tabela dos atributos
  jsonschema/schemas/Models_1_001.json
Labels: API, Schema

#420 City/v1/1_000
  jsonschema/apis/City_v1_000.json
  jsonschema/schemas/City_2_000.json
Labels: API, Schema

#351 AuditQuestionnaire/V1/1_000
  jsonschema/apis/AuditQuestionnaire_v1_000.json
  jsonschema/schemas/AuditQuestionnaire_2_000.json
Labels: API, Schema

#406 totvs/Branch/v1/1_000
  jsonschema/apis/Branch_v1_000.json
  jsonschema/schemas/Branch_2_001.json
  validator/libOpenAPI/pathValidator.js
Labels: API, Schema

#421 AuditTopic/v1/1_000
  jsonschema/apis/AuditTopic_v1_000.json
  jsonschema/schemas/AuditTopic_2_000.json
Labels: API, Schema

#413 CompensatoryTimeBalance/v1/1_000
  jsonschema/apis/CompensatoryTimeBalance_v1_000.json
  jsonschema/schemas/CompensatoryTimeBalance_1_000.json
Labels: API, Schema

#423 IntermittentWorkConvocations/v1/1_000
  jsonschema/apis/IntermittentWorkConvocation_v1_000.json
  jsonschema/schemas/IntermittentWorkConvocation_1_000.json
Labels: API, Schema

#430 Period/v1/1_000
  jsonschema/apis/Period_v1_000.json
Labels: API

#425 Assignments/v1/1_000
  jsonschema/apis/Assignments_v1_000.json
  jsonschema/schemas/Assignments_1_000.json
Labels: API, Schema

#422 AppliedMatrix/v1/1_000
  jsonschema/apis/AppliedMatrix_v1_000.json
  jsonschema/schemas/AppliedMatrix_1_000.json
Labels: API, Schema

#414 AvailableOfferedActivities/v1/1_000
  jsonschema/apis/AvailableOfferedActivities_v1_000.json
  jsonschema/schemas/AvailableOfferedActivities_1_000.json
Labels: API, Schema

#411 StudentWarning/V1/1_000
  jsonschema/schemas/StudentWarning_1_000.json
Labels: API, Schema

#410 ProfessorWarning/V1/1_000
  jsonschema/apis/ProfessorWarning_v1_000.json
  jsonschema/schemas/ProfessorWarning_1_000.json
Labels: API, Schema

#391 Term/v1/1_000
  jsonschema/apis/Term_v1_000.json
  jsonschema/schemas/Term_1_000.json
Labels: API, Schema

#385 Major/v1/1_000
  jsonschema/apis/Major_v1_000.json
  jsonschema/schemas/Major_1_000.json
Labels: API, Schema

#378 Course/V1/1_000
  jsonschema/apis/Course_v1_000.json
  jsonschema/schemas/Course_1_000.json
Labels: API, Schema

#373 PaymentPlansSimulations/v1/1_000
  jsonschema/apis/PaymentPlansSimulations_v1_000.json
  jsonschema/schemas/PaymentPlansSimulations_1_000.json
Labels: API, Schema

#307 Search field/v1/1 000
  jsonschema/apis/SearchField_v1_000.json
  jsonschema/schemas/SearchField_1_000.json
Labels: API, Schema

#433 Alteração de título das APIs do RH (RM) para português.
  jsonschema/apis/AllowanceTypes_v1_000.json
  jsonschema/apis/AuthorizedOvertime_v1_000.json
  jsonschema/apis/CalculatedOccurrences_v1_000.json
  jsonschema/apis/CalculatedWarnings_v1_000.json
  jsonschema/apis/ClassParticipants_v1_000.json
  jsonschema/apis/Classes_v1_000.json
  jsonschema/apis/CompensatoryTimeBalance_v1_000.json
  jsonschema/apis/HazardMeasurement_v1_000.json
  jsonschema/apis/IgnoredPlannedAbsences_v1_000.json
  jsonschema/apis/JobOpportunityProfiles_v1_000.json
  jsonschema/apis/MandatoryTimes_v1_000.json
  jsonschema/apis/MedicalConsultations_v1_000.json
  jsonschema/apis/PerformanceEvaluations_v1_000.json
  jsonschema/apis/Persons_v1_000.json
  jsonschema/apis/RestGroups_v1_000.json
  jsonschema/apis/VisitorPunches_v1_000.json
  jsonschema/apis/Visitors_v1_000.json
  jsonschema/apis/WorkAccidentOccurrence_v1_000.json
  jsonschema/apis/WorkEnvironments_v1_000.json
  jsonschema/schemas/AllowanceTypes_1_000.json
  jsonschema/schemas/AuthorizedOvertime_1_000.json
  jsonschema/schemas/CalculatedOccurrences_1_000.json
  jsonschema/schemas/CalculatedWarnings_1_000.json
  jsonschema/schemas/ClassParticipants_1_000.json
  jsonschema/schemas/Classes_1_000.json
  jsonschema/schemas/CompensatoryTimeBalance_1_000.json
  jsonschema/schemas/HazardMeasurement_1_000.json
  jsonschema/schemas/IgnoredPlannedAbsences_1_000.json
  jsonschema/schemas/JobOpportunityProfiles_1_000.json
  jsonschema/schemas/MandatoryTimes_1_000.json
  jsonschema/schemas/MedicalConsultations_1_000.json
  jsonschema/schemas/PerformanceEvaluations_1_000.json
  jsonschema/schemas/Persons_1_000.json
  jsonschema/schemas/RestGroups_1_000.json
  jsonschema/schemas/VisitorPunches_1_000.json
  jsonschema/schemas/Visitors_1_000.json
  jsonschema/schemas/WorkAccidentOccurrence_1_000.json
  jsonschema/schemas/WorkEnvironments_1_000.json
Labels: API, Schema

#436 SystemParameters/V1/1_000
  jsonschema/schemas/SystemParameter_1_000.json
Labels: API, Schema

#438 AuditTopic/v1/1_000
  jsonschema/apis/AuditTopic_v1_000.json
  jsonschema/schemas/AuditTopic_2_000.json
Labels: API, Schema

#449 Country/v1/1_000
  jsonschema/apis/Country_v1_000.json
  jsonschema/schemas/Country_2_000.json
Labels: API, Schema

#441 CurriculumGrid/v1/1_000
  jsonschema/apis/CurriculumGrid_v1_000.json
  jsonschema/schemas/CurriculumGrid_1_000.json
Labels: API, Schema

#443 Period/v1/1_000
  jsonschema/apis/ApplicantResults_v1_000.json
  jsonschema/apis/AvailableCourse_v1_000.json
  jsonschema/apis/Block_v1_000.json
  jsonschema/apis/BookLoans_v1_000.json
  jsonschema/apis/Bookings_v1_000.json
  jsonschema/apis/Building_v1_000.json
  jsonschema/apis/CalendarEvent_v1_000.json
  jsonschema/apis/CancelBooking_v1_000.json
  jsonschema/apis/ClassShifts_v1_000.json
  jsonschema/apis/EducationalReports_v1_000.json
  jsonschema/apis/InscriptionFiles_v1_000.json
  jsonschema/apis/LessonPlan_v1_000.json
  jsonschema/apis/OfferedActivities_v1_000.json
  jsonschema/apis/Period_v1_000.json
  jsonschema/apis/ProfessorContext_v1_000.json
  jsonschema/apis/ProfessorDisciplineClass_v1_000.json
  jsonschema/apis/Publication_v1_000.json
  jsonschema/apis/RenewBookLoan_v1_000.json
  jsonschema/apis/Room_v1_000.json
  jsonschema/apis/StudentContext_v1_000.json
  jsonschema/apis/StudentWarningGroup_v1_000.json
  jsonschema/apis/StudentWarning_v1_000.json
  jsonschema/apis/ViewEducationalReport_v1_000.json
Labels: API

#451 EmployeeUsesTimeCard/v1/1_000
  jsonschema/apis/EmployeeUsesTimeCard_v1_000.json
  jsonschema/schemas/EmployeeUsesTimeCard_1_000.json
Labels: API, Schema

#445 EmployeeAssociatedValue/v1/1_000
  jsonschema/apis/EmployeeAssociatedValue_v1_000.json
  jsonschema/schemas/EmployeeAssociatedValue_1_000.json
Labels: API, Schema

#456 PaymentPlansSimulations/v1/1_000
  jsonschema/apis/PaymentPlansSimulations_v1_000.json
Labels: API

#455 Retail sales/v1
  jsonschema/apis/RetailSales_v1_000.json
  jsonschema/schemas/RetailSales_2_007.json
Labels: API

#458 Ajuste titulos das mensagens PCP.
  jsonschema/apis/Resource_v1_001.json
  jsonschema/apis/StopReason_v1_000.json
  jsonschema/apis/StopReport_v1_003.json
  jsonschema/apis/WasteReason_v1_000.json
Labels: API

#440 Incluid API TotalSales
  jsonschema/apis/TotalSales_v1_000.json
  jsonschema/schemas/TotalSales_1_000.json
Labels: API, Schema
