Repository totvs/ttalk-standard-message, pull requests merged in 2018-11, with the labels that each got.

#132 Building/v1/1_000
  jsonschema/apis/Building_v1_000.json
  jsonschema/schemas/Building_1_000.json
Labels: API, Schema

#142 AccountingItems/v1/1_000
  jsonschema/apis/AccountingItems_v1_000.json
  jsonschema/schemas/AccountingItem_1_002.json
Labels: API, Schema

#154 Ajustes APIs Healthcare
  jsonschema/apis/AccommodationType_v1_000.json
  jsonschema/apis/CopaymentType_v1_000.json
  jsonschema/apis/CoverageModuleGroup_v1_000.json
  jsonschema/apis/CoverageModule_v1_000.json
  jsonschema/apis/HealthCondition_v1_000.json
  jsonschema/apis/HealthProviderGroup_v1_000.json
  jsonschema/apis/HealthProviderRelationType_v1_000.json
  jsonschema/apis/IndexIncreaseType_v1_000.json
  jsonschema/apis/MedicalSpecialty_v1_000.json
  jsonschema/apis/MedicineBranch_v1_000.json
  jsonschema/apis/ProposalType_v1_000.json
  jsonschema/apis/SecondCopyReason_v1_000.json
  jsonschema/apis/TextPattern_v1_000.json
Labels: API

#158 Class value/v1/1 000
  jsonschema/apis/ClassValue_v1_000.json
  jsonschema/schemas/ClassValue_1_001.json
Labels: API, Schema

#148 UnitOfMeasure/V2/2_001
  jsonschema/apis/UnitOfMeasure_v2_000.json
  jsonschema/schemas/UnitOfMeasure_2_001.json
Labels: API, Schema

#110 RestGroups/v1/1_000
  jsonschema/apis/RestGroups_v1_000.json
  jsonschema/schemas/RestGroups_1_000.json
Labels: API, Schema

#161 Resource/V1/1_000
  jsonschema/apis/Resource_v1_001.json
  jsonschema/schemas/Resource_1_000.json
  jsonschema/schemas/Resource_1_001.json
Labels: API, Schema

#179 UnitMeasurementConversion/2_001
  jsonschema/schemas/UnitMeasurementConversion_2_001.json
Labels: Schema

#26 Api CottonBales
  jsonschema/apis/CottonBales_v1_000.json
Labels: API

#120 caixa/v1/1_000
  jsonschema/apis/Branch_v1_001.json
  jsonschema/schemas/Branch_2_002.json
Labels: API, Schema

#146 Route/V1/1_000
  jsonschema/apis/Route_v1_000.json
  jsonschema/schemas/Route_1_000.json
Labels: API, Schema

#164 TaskCostAssigments/V1/1_000
  jsonschema/apis/TaskCostAssigments_v1_000.json
  jsonschema/schemas/TaskCostAssigments_1_000.json
Labels: API, Schema

#170 ProjectCostGroups/V1/1_000
  jsonschema/apis/ProjectCostGroups_v1_000.json
  jsonschema/schemas/ProjectCostGroups_1_000.json
Labels: API, Schema

#203 Procedure/v1/1 100
  jsonschema/apis/Procedure_v1_100.json
  jsonschema/schemas/Procedure_1_100.json
Labels: API, Schema

#211 Pre existing disease/v2/2 000
  jsonschema/apis/PreExistingDisease_v2_000.json
  jsonschema/schemas/PreExistingDisease_2_000.json
Labels: API, Schema

#210 Health provider status/v1/1 100
  jsonschema/apis/HealthProviderStatus_v1_100.json
  jsonschema/schemas/HealthProviderStatus_1_100.json
Labels: API, Schema

#209 Health provider specialty/v1/1 100
  jsonschema/apis/HealthProviderSpecialty_v1_100.json
  jsonschema/schemas/HealthProviderSpecialty_1_100.json
Labels: API, Schema

#208 Health provider/v1/1 100
  jsonschema/apis/HealthProvider_v1_100.json
  jsonschema/schemas/HealthProvider_1_100.json
Labels: API, Schema

#207 Health insurer/v1/1 100
  jsonschema/apis/HealthInsurer_v1_100.json
  jsonschema/schemas/HealthInsurer_1_100.json
Labels: API, Schema

#206 Authorization/v1/1 100
  jsonschema/apis/Authorization_v1_100.json
  jsonschema/schemas/Authorization_1_100.json
Labels: API, Schema

#202 Auditing/v1/1 100
  jsonschema/apis/Auditing_v1_100.json
  jsonschema/schemas/Auditing_1_100.json
Labels: API, Schema

#200 Attendance locations/v1/1 100
  jsonschema/apis/AttendanceLocation_v1_100.json
  jsonschema/schemas/AttendanceLocation_1_100.json
Labels: API, Schema

#229 JobOpportunityProfiles/v1/1_000
  jsonschema/apis/JobOpportunityProfiles_v1_000.json
  jsonschema/schemas/JobOpportunityProfiles_1_000.json
Labels: API, Schema

#237 WorkEnvironments/V1/1_000
  jsonschema/apis/WorkEnvironments_v1_000.json
  jsonschema/schemas/WorkEnvironments_1_000.json
Labels: API, Schema

#192 ApprovalProfile/v2
  jsonschema/apis/ApprovalProfile_v2_000.json
Labels: API

#27 Cotton bales 1 000
  jsonschema/schemas/CottonBales_1_000.json
Labels: Schema

#225 ProjectItemsMaterialRequests/V1/1_000
  jsonschema/apis/ProjectItemsMaterialRequests_v1_000.json
  jsonschema/schemas/ProjectItemsMaterialRequests_1_000.json
Labels: API, Schema

#219 Criação da API da consulta RFB 2.2.17 - Caixa de mensagens entre o estabelecimento e a RFB
  jsonschema/apis/CaixaMensagensRFB_v2_000.json
  jsonschema/schemas/CaixaMensagensRFB_2_000.json
Labels: API, Schema

#133 SalesTargets/v1/1_000
  jsonschema/apis/SalesTargets_v1_000.json
  jsonschema/schemas/SalesTargets_1_000.json
Labels: API, Schema

#145 ContactRelationship/v1/1_001
  jsonschema/apis/ContactRelationship_v1_000.json
  jsonschema/schemas/ContactRelationship_1_001.json
Labels: API, Schema

#137 SellerActivity/v1/1_000
  git
  jsonschema/apis/SellerActivity_v1_000.json
  jsonschema/schemas/SellerActivity_1_000.json
Labels: API, Schema

#141 Carrier/v1/2 001
  jsonschema/apis/Carrier_v1_000.json
  jsonschema/schemas/Carrier_2_001.json
Labels: API, Schema

#239 persons/v1/1_000
  jsonschema/apis/Persons_v1_000.json
  jsonschema/schemas/Persons_1_000.json
Labels: API, Schema

#240 IgnoredPlannedAbsences/v1/1_000
  jsonschema/apis/IgnoredPlannedAbsences_v1_000.json
  jsonschema/schemas/IgnoredPlannedAbsences_1_000.json
Labels: API, Schema

#235 Accounting calendar/v1/1 000
  jsonschema/apis/AccountingCalendar_v1_000.json
  jsonschema/schemas/AccountingCalendar_1_001.json
Labels: API, Schema

#196 Publication/V1/1_000
  .node-xmlhttprequest-sync-9348
  jsonschema/apis/Publication_v1_000.json
  jsonschema/schemas/Publication_1_000.json
Labels: API, Schema

#157 Room/V1/1_000
  jsonschema/apis/Room_v1_000.json
  jsonschema/schemas/Room_1_000.json
Labels: API, Schema

#151 LessonPlan/V1/1_000
  jsonschema/apis/LessonPlan_v1_000.json
  jsonschema/schemas/LessonPlan_1_000.json
Labels: API, Schema

#149 CancelBooking/V1/1_000
  jsonschema/apis/CancelBooking_v1_000.json
  jsonschema/apis/RenewBookLoan_v1_000.json
  jsonschema/schemas/CancelBooking_1_000.json
  jsonschema/schemas/RenewBookLoan_1_000.json
Labels: API, Schema

#81 RenewBookLoan/v1/1_000
  jsonschema/apis/RenewBookLoan_v1_000.json
  jsonschema/schemas/RenewBookLoan_1_000.json
Labels: API, Schema

#130 AvailableCourse/v1/1_000
  jsonschema/apis/AvailableCourse_v1_000.json
  jsonschema/schemas/AvailableCourse_1_000.json
Labels: API, Schema

#43 ViewEducationalReport/v1/1 000
  jsonschema/apis/ViewEducationalReport_v1_000.json
  jsonschema/schemas/ViewEducationalReport_1_000.json
Labels: API, Schema

#38 EducationalReports/v1/1_000
  jsonschema/apis/EducationalReports_v1_000.json
  jsonschema/schemas/EducationalReports_1_000.json
Labels: API, Schema

#259 InscriptionFiles/v1/1_000
  jsonschema/apis/InscriptionFiles_v1_000.json
  jsonschema/schemas/InscriptionFiles_1_000.json
Labels: API, Schema

#252 Block/V1/1_000
  jsonschema/apis/Block_v1_000.json
  jsonschema/schemas/Block_1_000.json
Labels: API, Schema

#251 StudentWarningGroup/v1/1_000
  jsonschema/apis/StudentWarningGroup_v1_000.json
  jsonschema/schemas/StudentWarningGroup_1_000.json
Labels: API, Schema

#199 Cottongins/v1/1_000
  jsonschema/apis/CottonGins_v1_000.json
  jsonschema/schemas/CottonGins_1_000.json
Labels: API, Schema

#261 IgnoredPlannedAbsences/v1/1_000
  jsonschema/apis/IgnoredPlannedAbsences_v1_000.json
  jsonschema/schemas/IgnoredPlannedAbsences_1_000.json
Labels: API, Schema

#241 MandatoryTimes/v1/1_000
  jsonschema/apis/MandatoryTimes_v1_000.json
  jsonschema/schemas/MandatoryTimes_1_000.json
Labels: API, Schema

#242 AllowanceTypes/v1/1_000
  jsonschema/apis/AllowanceTypes_v1_000.json
  jsonschema/schemas/AllowanceTypes_1_000.json
Labels: API, Schema

#214 ProjectCancelSupplies/V1/1_000
  jsonschema/apis/ProjectCancelSupplies_v1_000.json
  jsonschema/schemas/ProjectCancelSupplies_1_000.json
Labels: API, Schema

#213 ProjectGenerationSuppliesByDate/V1/1_000
  jsonschema/apis/ProjectGenerationSuppliesByDate_v1_000.json
  jsonschema/schemas/ProjectGenerationSuppliesByDate_1_000.json
Labels: API, Schema

#212 ProjectGenerationSupplies/V1/1_000
  jsonschema/apis/ProjectGenerationSupplies_v1_000.json
  jsonschema/schemas/ProjectGenerationSupplies_1_000.json
Labels: API, Schema

#171 ProjectGenerateMaterialRequest/V1/1_000
  jsonschema/apis/ProjectGenerateMaterialRequest_v1_000.json
  jsonschema/schemas/ProjectGenerateMaterialRequest_1_000.json
Labels: API, Schema

#169 ProjectMaterialRequestsExtra/V1/1_000
  jsonschema/apis/ProjectMaterialRequestsExtra_v1_000.json
  jsonschema/schemas/ProjectMaterialRequestsExtra_1_000.json
Labels: API, Schema

#163 ProjectMaterialRequests/V1/1_000
  jsonschema/apis/ProjectMaterialRequests_v1_000.json
  jsonschema/schemas/ProjectMaterialRequests_1_000.json
  package-lock.json
  package.json
Labels: API, Schema

#178 ProjectInputs/V1/1_000
  jsonschema/apis/ProjectInputs_v1_000.json
  jsonschema/schemas/ProjectInputs_1_000.json
Labels: API, Schema

#257 ProjectFinalizeApprovalRequest/V1/1_000
  jsonschema/apis/ProjectFinalizeApprovalRequest_v1_000.json
  jsonschema/schemas/ProjectFinalizeApprovalRequest_1_000.json
Labels: API, Schema

#256 ProjectDisapproveRequest/V1/1_000
  jsonschema/apis/ProjectDisapproveRequest_v1_000.json
  jsonschema/schemas/ProjectDisapproveRequest_1_000.json
Labels: API, Schema

#255 ProjectApproveRequest/V1/1_000
  jsonschema/apis/ProjectApproveRequest_v1_000.json
  jsonschema/schemas/ProjectApproveRequest_1_000.json
Labels: API, Schema

#268 IgnoredPlannedAbsences/v1/1_000
  jsonschema/apis/IgnoredPlannedAbsences_v1_000.json
  jsonschema/schemas/IgnoredPlannedAbsences_1_000.json
Labels: API, Schema

#276 TaskCostAssigments/V1/1_000
  jsonschema/apis/TaskCostAssigments_v1_000.json
Labels: API, Schema

#201 CommercialProposal/v1/1_000
  jsonschema/apis/CommercialProposal_v1_000.json
  jsonschema/schemas/CommercialProposal_1_000.json
Labels: API, Schema

#215 Item scripts/v1/1 000
  jsonschema/apis/ItemScript_v1_000.json
Labels: API

#176 SummaryHistograms/V1/1_000
  jsonschema/apis/SummaryHistograms_v1_000.json
  jsonschema/schemas/SummaryHistograms_1_000.json
Labels: API, Schema

#253 ProjectSubmitApprovalRequest/v1/1_000
  jsonschema/apis/ProjectSubmitApprovalRequest_v1_000.json
  jsonschema/schemas/ProjectSubmitApprovalRequest_1_000.json
Labels: API, Schema

#254 ProjectReturnCreateRequest/V1/1_000
  jsonschema/apis/ProjectReturnCreateRequest_v1_000.json
  jsonschema/schemas/ProjectReturnCreateRequest_1_000.json
Labels: API, Schema

#277 ProjectCostGroups/V1/1_000
  jsonschema/apis/ProjectCostGroups_v1_000.json
Labels: API, Schema

#282 ProjectItemsMaterialRequestsExtra/V1/1_000
  jsonschema/apis/ProjectItemsMaterialRequestsExtra_v1_000.json
  jsonschema/schemas/ProjectItemsMaterialRequestsExtra_1_000.json
Labels: API, Schema

#281 ProjectTraceabilitySupplies/V1/1_000
  jsonschema/apis/ProjectTraceabilitySupplies_v1_000.json
  jsonschema/schemas/ProjectTraceabilitySupplies_1_000.json
Labels: API, Schema

#247 CottonPoisoningPointings/v1/1 000
  jsonschema/apis/CottonPoisoningPointings_v1_000.json
  jsonschema/schemas/CottonPoisoningPointings_1_000.json
Labels: API, Schema

#234 GrainQualityTestKinds/v1/1_000
  jsonschema/apis/GrainQualityTestKinds_v1_000.json
  jsonschema/schemas/GrainQualityTestKinds_1_000.json
Labels: API, Schema

#258 CottonGinMachines/v1/1 000
  jsonschema/apis/CottonGinMachines_v1_000.json
  jsonschema/schemas/CottonGinMachines_1_000.json
Labels: API, Schema

#232 CottonGinBreakPointings/v1/1_000
  jsonschema/apis/CottonGinBreakPointings_v1_000.json
  jsonschema/schemas/CottonGinBreakPointings_1_000.json
Labels: API, Schema

#226 CottonGinBreaks/v1/1_000
  jsonschema/apis/CottonGinBreaks_v1_000.json
  jsonschema/schemas/CottonGinBreaks_1_000.json
Labels: API, Schema

#223 CottonBalesOnTreadmills/v1/1_000
  jsonschema/apis/CottonBalesOnTreadmills_v1_000.json
  jsonschema/schemas/CottonBalesOnTradeMills_1_000.json
  jsonschema/schemas/CottonGins_1_000.json
Labels: API, Schema

#193 Treadmills/v1/1_000
  jsonschema/apis/Treadmills_v1_000.json
  jsonschema/schemas/Treadmills_1_000.json
Labels: API, Schema

#243 CalculatedWarnings/v1/1_000
  jsonschema/apis/CalculatedWarnings_v1_000.json
  jsonschema/schemas/CalculatedWarnings_1_000.json
Labels: API, Schema

#288 ProjectGenerationSuppliesByDate/V1/1_000
  jsonschema/apis/ProjectGenerationSuppliesByDate_v1_000.json
Labels: API

#287 ProjectGenerationSupplies/V1/1_000
  jsonschema/apis/ProjectGenerationSupplies_v1_000.json
Labels: API

#286 ProjectGenerateMaterialRequest/V1/1_000
  jsonschema/apis/ProjectGenerateMaterialRequest_v1_000.json
Labels: API

#280 ProjectFinalizeApprovalRequest/V1/1_000
  jsonschema/apis/ProjectFinalizeApprovalRequest_v1_000.json
Labels: API, Schema

#279 ProjectDisapproveRequest/V1/1_000
  jsonschema/apis/ProjectDisapproveRequest_v1_000.json
Labels: API, Schema

#278 ProjectApproveRequest/V1/1_000
  jsonschema/apis/ProjectApproveRequest_v1_000.json
Labels: API, Schema

#274 TributaryLotations/v1/1_000
  jsonschema/schemas/TributaryLotations_1_000.json
Labels: API, Schema

#272 VisitorPunches/v1/1_000
  jsonschema/schemas/VisitorPunches_1_000.json
Labels: API, Schema

#269 MandatoryTimes/v1/1_000
  jsonschema/apis/MandatoryTimes_v1_000.json
  jsonschema/schemas/MandatoryTimes_1_000.json
Labels: API, Schema

#264 AllowanceTypes/v1/1_000
  jsonschema/apis/AllowanceTypes_v1_000.json
  jsonschema/schemas/AllowanceTypes_1_000.json
Labels: API, Schema

#238 CottonColorGrades/v1/1 000
  jsonschema/apis/CottonColorGrades_v1_000.json
  jsonschema/apis/CottonGinBreaks_v1_000.json
  jsonschema/schemas/CottonColorGrades_1_000.json
Labels: API, Schema

#248 StopReport/V1/1_003
  jsonschema/apis/StopReport_v1_003.json
  jsonschema/schemas/StopReport_1_003.json
Labels: API, Schema

#291 ProjectReasonsMaterialRequestExtra/V1/1_000
  jsonschema/apis/ProjectReasonsMaterialRequestExtra_v1_000.json
  jsonschema/schemas/ProjectReasonsMaterialRequestExtra_1_000.json
Labels: API, Schema

#159 Audit checklist/v1/1 000
  jsonschema/apis/AuditChecklist_v1_000.json
  jsonschema/schemas/AuditChecklist_2_000.json
Labels: API, Schema

#190 AuditTopic/V1/1_000
  jsonschema/apis/AuditTopic_v1_000.json
  jsonschema/schemas/AuditTopic_2_000.json
Labels: API, Schema

#168 FreightComponents/v1/1_000
  .node-xmlhttprequest-sync-13452
  jsonschema/apis/FreightComponents_v1_000.json
  jsonschema/schemas/FreightComponents_1_000.json
  package-lock.json
  package.json
Labels: API, Schema
