Repository totvs/ttalk-standard-message, pull requests merged in 2019-06, with the labels that each got.

#557 Mrppurchaserequest/v1/1_000
  jsonschema/apis/MRPPurchaseRequest_v1_000.json
  jsonschema/schemas/MrpPurchaseRequest_1_000.json
Labels: API, Schema

#560 Mrpstockbalance/v1/1_000
  jsonschema/apis/MRPStockBalance_v1_000.json
  jsonschema/schemas/MrpStockBalance_1_000.json
Labels: API, Schema

#562 Mrpcalendar/v1/1_000
  jsonschema/apis/MRPCalendar_v1_000.json
  jsonschema/schemas/MrpCalendar_1_000.json
Labels: API, Schema

#570 MRPWarehouse
  jsonschema/schemas/MRPProductionOrders_1_000.json
  jsonschema/schemas/MrpAllocations_1_000.json
  jsonschema/schemas/MrpPurchaseOrder_1_000.json
  jsonschema/schemas/MrpPurchaseRequest_1_000.json
  jsonschema/schemas/MrpStockBalance_1_000.json
Labels: Schema

#567 atualização endpoints mrpproductionversion
  jsonschema/apis/MrpProdVersion_v1_000.json
Labels: API

#477 Update Roles
  jsonschema/apis/Roles_v1_000.json
  jsonschema/schemas/Roles_1_000.json
Labels: API, Schema

#573 MRPBillOfMaterial
  jsonschema/schemas/MRPBillOfMaterial_1_000.json
Labels: Schema

#581 MrpPurchaseOrder: corrigido o campo T4T_LOCAL
  jsonschema/schemas/MrpPurchaseOrder_1_000.json
Labels: Schema

#583 AjusteWarehouse
  jsonschema/apis/MRPAllocations_v1_000.json
  jsonschema/apis/MRPDemands_v1_000.json
  jsonschema/apis/MRPProductionOrders_v1_000.json
  jsonschema/apis/MRPPurchaseOrder_v1_000.json
  jsonschema/apis/MRPPurchaseRequest_v1_000.json
  jsonschema/apis/MRPStockBalance_v1_000.json
Labels: API

#582 Inclusão da API trimesterBalanceSheet/v1/1_100
  jsonschema/apis/TrimesterBalanceSheet_v1_100.json
  jsonschema/schemas/TrimesterBalanceSheet_1_100.json
Labels: API, Schema

#586 MRPDemands
  jsonschema/apis/MRPDemands_v1_000.json
  jsonschema/schemas/MRPDemands_1_000.json
Labels: API, Schema
