Repository totvs/ttalk-standard-message, pull requests merged in 2019-08, with the labels that each got.

#587 BeneficiariesDataContent/v1/1_000
  jsonschema/apis/BeneficiariesDataContent_v1_000.json
  jsonschema/schemas/BeneficiariesDataContent_1_000.json
Labels: API, Schema

#622 MRPAllocations/v1/000
  jsonschema/apis/MRPAllocations_v1_000.json
  jsonschema/apis/MRPBillOfMaterial_v1_000.json
  jsonschema/apis/MRPCalendar_v1_000.json
  jsonschema/apis/MRPProductionOrders_v1_000.json
  jsonschema/apis/MRPPurchaseOrder_v1_000.json
  jsonschema/apis/MRPPurchaseRequest_v1_000.json
  jsonschema/apis/MRPStockBalance_v1_000.json
  jsonschema/apis/MrpProdVersion_v1_000.json
  jsonschema/schemas/MRPBillOfMaterial_1_000.json
  jsonschema/schemas/MRPProductionOrders_1_000.json
  jsonschema/schemas/MrpPurchaseRequest_1_000.json
Labels: API, Schema

#624 Quotation/V1/1_002
  jsonschema/apis/Quotation_v1_000.json
  jsonschema/schemas/Quotation_1_002.json
Labels: API, Schema

#621 RetailStockLevel/V1/1_000
  jsonschema/apis/RetailStockLevel_v1_000.json
  jsonschema/schemas/RetailStockLevel_1_000.json
Labels: API, Schema

#626 Tickets/v1/1 002
  jsonschema/apis/Tickets_v1_002.json
  jsonschema/schemas/Tickets_1_002.json
Labels: API, Schema

#627 inclusão do Protheus em novos métodos
  jsonschema/apis/Candidates_v2_000.json
Labels: API

#633 MrpStockBalance/v1/001
  jsonschema/apis/MRPStockBalance_v1_000.json
  jsonschema/schemas/MrpStockBalance_1_000.json
Labels: API, Schema

#476 Atualizando JobScheduler_1_000.json
  jsonschema/schemas/JobScheduler_1_000.json
Labels: API, Schema

#635 MrpPurchaseOrder/v1/001
  jsonschema/schemas/MrpPurchaseOrder_1_000.json
Labels: Schema

#638 AccountingCalendar/V1/1_000
  jsonschema/apis/AccountingCalendar_v1_000.json
Labels: API
