Repository totvs/ttalk-standard-message, pull requests merged in 2019-07, with the labels that each got.

#595 MaterialFamilies/v1/1_000
  jsonschema/apis/MaterialFamilies_v1_000.json
  jsonschema/schemas/MaterialFamilies_2_002.json
Labels: API, Schema

#588 Candidates/v2/2_000
  jsonschema/apis/Candidates_v2_000.json
  jsonschema/schemas/Candidates_2_000.json
Labels: API, Schema

#597 Ticket step forward/v1/1 001
  jsonschema/apis/TicketStepForward_v1_001.json
  jsonschema/schemas/TicketStepForward_1_001.json
Labels: API, Schema

#527 FinancialAgreements/v1/1 000
  jsonschema/apis/FinancialAgreements_v1_000.json
  jsonschema/schemas/FinancialAgreements_1_000.json
Labels: API, Schema

#544 Mobile forms/v2/2 000
  jsonschema/apis/MobileForms_v2_000.json
  jsonschema/schemas/MobileForms_2_000.json
Labels: API, Schema

#548 Criando a API ProductionAppointment
  jsonschema/apis/ProductionAppointment_v2_000.json
  jsonschema/schemas/ProductionAppointment_2_003.json
Labels: API

#605 MRPProductionOrders/v1/001
  jsonschema/schemas/MRPProductionOrders_1_000.json
Labels: Schema

#602 RetailPriceList/v1/2_006
  jsonschema/apis/RetailPriceList_v1_000.json
  jsonschema/schemas/PriceListHeaderItem_2_006.json
Labels: API, Schema

#566 SelectionProcessExplorer/v1/1 000
  jsonschema/apis/SelectionProcessExplorer_v1_000.json
  jsonschema/schemas/SelectionProcessExplorer_1_000.json
Labels: API, Schema

#613 Retailsales/v1
  jsonschema/apis/RetailSales_v1_000.json
Labels: API

#614 Documenttraceabilityretailsales/v1/1 000
  jsonschema/apis/DocumentTraceAbilityRetailSales_v1_000.json
  jsonschema/schemas/DocumentTraceAbilityRetailSales_1_000.json
Labels: API, Schema

#596 Request/apportion
  jsonschema/schemas/ApportionType_3_000.json
  jsonschema/schemas/Request_1_011.json
Labels: Schema

#618 Request/v1
  jsonschema/apis/Request_v1_000.json
Labels: API

#620 MRPDemands/v1/1_000
  jsonschema/apis/MRPDemands_v1_000.json
  jsonschema/schemas/MRPDemands_1_000.json
Labels: API, Schema

#619 Tickets/v1/1 001
  jsonschema/apis/Tickets_v1_001.json
  jsonschema/schemas/Tickets_1_001.json
Labels: API, Schema

#617 RetailItem/v1/1_000
  jsonschema/apis/RetailItem_v1_000.json
  jsonschema/schemas/RetailItem_1_000.json
Labels: API, Schema

#616 RetailPriceList/v1/1_000
  jsonschema/apis/RetailPriceList_v1_000.json
  jsonschema/schemas/RetailPriceList_1_000.json
Labels: API, Schema

#608 Quotation/v1/1 002
  jsonschema/apis/Quotation_v1_000.json
  jsonschema/schemas/Quotation_1_002.json
Labels: API, Schema
