Repository totvs/ttalk-standard-message, pull requests merged in 2019-11, with the labels that each got.

#692 MRPProduct/v1/001
  jsonschema/schemas/MRPProduct_1_000.json
Labels: Schema

#693 Suportando diferentes ContentTypes
  .vscode/launch.json
  validator/helper/multicontentHelper.js
  validator/libOpenAPI/pathValidator.js
  validator/master/renameOpenApiRef.js
  validator/test/testOpenAPI.js
Labels: enhancement

#700 MRPProductIndicator
  jsonschema/apis/MRPProductIndicator_v1_000.json
  jsonschema/apis/MRPWareHouseInventoryPolicies_v1_000.json
  jsonschema/schemas/MRPProductIndicator_1_000.json
  jsonschema/schemas/MRPWareHouseInventoryPolicies_1_000.json
Labels: API, Schema

#673 added PaymentTicket api and schema
  jsonschema/apis/PaymentTicket_v1_000.json
  jsonschema/schemas/PaymentTicket_1_000.json
Labels: API, Schema
