Repository totvs/ttalk-standard-message, pull requests merged in 2020-03, with the labels that each got.

#664 Nova API para Pacientes
  jsonschema/apis/MedicalSpecialty_v1_000.json
  jsonschema/apis/Patient_v1_000.json
  jsonschema/schemas/MedicalSpecialty_1_000.json
  jsonschema/schemas/Patient_1_000.json
Labels: API, Schema

#718 Correção de paginamento da API de pessoa.
  jsonschema/apis/Persons_v1_000.json
  jsonschema/schemas/Persons_1_001.json
Labels: Schema

#662 SupplyPPE/v1/1_000
  jsonschema/apis/SupplyPPE_v1_000.json
  jsonschema/schemas/SupplyPPE_1_000.json
Labels: API, Schema

#704 Candidates/v2/2_001
  jsonschema/apis/Candidates_v2_000.json
Labels: API

#754 Schedule specialty/v1/1 000
  jsonschema/apis/ScheduleSpecialty_v1_000.json
  jsonschema/schemas/ScheduleSpecialty_1_000.json
Labels: API, Schema

#750 Schedules/v1/1 000
  jsonschema/apis/Schedule_v1_000.json
  jsonschema/schemas/Schedule_1_000.json
Labels: API, Schema

#751 Schedule lock/v1/1 000
  jsonschema/apis/ScheduleLock_v1_000.json
  jsonschema/schemas/ScheduleLock_1_000.json
Labels: API, Schema

#755 Schedule time/v1/1 000
  jsonschema/apis/ScheduleTime_v1_000.json
  jsonschema/schemas/ScheduleTime_1_000.json
Labels: API, Schema

#753 Schedule period/v1/1 000
  jsonschema/apis/SchedulePeriod_v1_000.json
  jsonschema/schemas/SchedulePeriod_1_000.json
Labels: API, Schema

#756 Schedule activity/v1/1 000
  jsonschema/apis/ScheduleActivity_v1_000.json
  jsonschema/schemas/ScheduleActivity_1_000.json
Labels: API, Schema

#757 Practitioner API
  jsonschema/apis/Practitioner_v1_000.json
  jsonschema/schemas/Practitioner_1_000.json
Labels: API, Schema

#763 Appointment available/v1/1 000
  jsonschema/apis/AppointmentAvailable_v1_000.json
  jsonschema/schemas/AppointmentAvailable_1_000.json
Labels: API, Schema

#762 Beneficiaries/v1/1 000
  jsonschema/apis/Beneficiary_v1_000.json
  jsonschema/apis/Files_v1_000.json
  jsonschema/apis/Product_v1_000.json
  jsonschema/schemas/Beneficiary_1_000.json
Labels: API, Schema

#769 Monitoring/1_000
  jsonschema/schemas/Monitoring_1_000.json
Labels: Schema

#764 Health insurance/v1/1 000
  jsonschema/apis/InsurancePlan_v1_000.json
  jsonschema/schemas/HealthInsurance_1_000.json
Labels: API, Schema

#761 Practitioner on duty/v1/1 000
  jsonschema/apis/PractitionerOnDuty_v1_000.json
  jsonschema/schemas/PractitionerOnDuty_1_000.json
Labels: API, Schema

#760 Specialty/v1/1 000
  jsonschema/apis/Specialty_v1_000.json
  jsonschema/schemas/Specialty_1_000.json
Labels: API, Schema

#759 Inclusão da API e Schema InsuranceCompany
  jsonschema/apis/InsuranceCompany_v1_000.json
  jsonschema/schemas/InsuranceCompany_1_000.json
Labels: API, Schema

#758 Appointment/v1/1 000
  jsonschema/apis/Appointment_v1_000.json
  jsonschema/schemas/Appointment_1_000.json
Labels: API, Schema

#770 Monitoring/V1
  jsonschema/apis/Monitoring_v1_000.json
Labels: API
