Repository totvs/ttalk-standard-message, pull requests merged in 2020-09, with the labels that each got.

#844 Branch/V1/2_002
  jsonschema/apis/Branch_v1_000.json
  jsonschema/schemas/Branch_2_002.json
Labels: API, Schema

#851 Dmed/1_000
  jsonschema/schemas/AnalyticDmedExpenses_1_100.json
Labels: Schema

#852 Dmed/V1
  jsonschema/apis/AnalyticDmedExpenses_v1_100.json
Labels: API

#853 DIOPS/V1/1_000
  jsonschema/apis/ActiveBalanceAge_v1_100.json
  jsonschema/apis/AnsAccountPlan_v1_100.json
  jsonschema/apis/AssistanceCoverage_v1_100.json
  jsonschema/apis/CapitalStandardModel_v1_100.json
  jsonschema/apis/CashFlow_v1_100.json
  jsonschema/apis/Charts_v1_100.json
  jsonschema/apis/Commitment_v1_100.json
  jsonschema/apis/CommonFunds_v1_100.json
  jsonschema/apis/ContractConsolidation_v1_100.json
  jsonschema/apis/ControlledAffiliates_v1_100.json
  jsonschema/apis/CooperCheckAccnt_v1_100.json
  jsonschema/apis/CoresponsibilityGranted_v1_100.json
  jsonschema/apis/IndemnifiableEvents_v1_100.json
  jsonschema/apis/LiabilityAdequationTest_v1_100.json
  jsonschema/apis/LiabilityBalanceAge_v1_100.json
  jsonschema/apis/LiabilityTaxAccnt_v1_100.json
  jsonschema/apis/ListOfCities_v1_100.json
  jsonschema/apis/Obligations_v1_100.json
  jsonschema/apis/Operators_v1_100.json
  jsonschema/apis/PecuniaryConsideration_v1_100.json
  jsonschema/apis/PersonsResponsible_v1_100.json
  jsonschema/apis/Premises_v1_100.json
  jsonschema/apis/ProfitsAndLosses_v1_100.json
  jsonschema/apis/ProvNetSinEvPesl_v1_100.json
  jsonschema/apis/RealEstGarAsset_v1_100.json
  jsonschema/apis/Representatives_v1_100.json
  jsonschema/apis/Shareholders_v1_100.json
  jsonschema/apis/StipulatedContracts_v1_100.json
  jsonschema/apis/TransContrAmtSegr_v1_100.json
  jsonschema/apis/TrimesterBalanceSheet_v1_100.json
  jsonschema/schemas/ActiveBalanceAge_1_100.json
  jsonschema/schemas/AnsAccountPlan_1_100.json
  jsonschema/schemas/AssistanceCoverage_1_100.json
  jsonschema/schemas/CapitalStandardModel_1_100.json
  jsonschema/schemas/CashFlow_1_100.json
  jsonschema/schemas/Charts_1_100.json
  jsonschema/schemas/Commitment_1_100.json
  jsonschema/schemas/CommonFunds_1_100.json
  jsonschema/schemas/ContractConsolidation_1_100.json
  jsonschema/schemas/ControlledAffiliates_1_100.json
  jsonschema/schemas/CooperCheckAccnt_1_100.json
  jsonschema/schemas/CoresponsibilityGranted_1_100.json
  jsonschema/schemas/IndemnifiableEvents_1_100.json
  jsonschema/schemas/LiabilityAdequationTest_1_100.json
  jsonschema/schemas/LiabilityBalanceAge_1_100.json
  jsonschema/schemas/LiabilityTaxAccnt_1_100.json
  jsonschema/schemas/ListOfCities_1_100.json
  jsonschema/schemas/Obligations_1_100.json
  jsonschema/schemas/Operators_1_100.json
  jsonschema/schemas/PecuniaryConsideration_1_100.json
  jsonschema/schemas/PersonsResponsible_1_100.json
  jsonschema/schemas/Premises_1_100.json
  jsonschema/schemas/ProfitsAndLosses_1_100.json
  jsonschema/schemas/ProvNetSinEvPesl_1_100.json
  jsonschema/schemas/RealEstGarAsset_1_100.json
  jsonschema/schemas/Representatives_1_100.json
  jsonschema/schemas/Shareholders_1_100.json
  jsonschema/schemas/StipulatedContracts_1_100.json
  jsonschema/schemas/TransContrAmtSegr_1_100.json
  jsonschema/schemas/TrimesterBalanceSheet_1_100.json
Labels: API, Schema

#855 SIB/V1/1_000
  jsonschema/apis/Beneficiary_v1_000.json
  jsonschema/apis/Files_v1_000.json
  jsonschema/apis/Monitoring_v1_000.json
  jsonschema/apis/PreExistingDisease_v2_000.json
  jsonschema/apis/Product_v1_000.json
  jsonschema/apis/StipulatedContracts_v1_100.json
  jsonschema/schemas/Beneficiary_1_000.json
  jsonschema/schemas/Files_1_000.json
  jsonschema/schemas/Monitoring_1_000.json
  jsonschema/schemas/Product_1_000.json
Labels: API, Schema

#856 CostCenter/v1/3_001
  jsonschema/apis/CostCenter_v1_000.json
  jsonschema/schemas/CostCenter_3_001.json
Labels: API, Schema
