Repository totvs/ttalk-standard-message, pull requests merged in 2021-07, with the labels that each got.

#923 Api Registro de Atendimento
  jsonschema/apis/AttendanceRegister_v1_000.json
  jsonschema/schemas/AttendanceRegister_1_000.json
Labels: API, Schema

#925 Sau paciente
  jsonschema/apis/Patient_v2_000.json
  jsonschema/schemas/Patient_2_000.json
Labels: API, Schema

#919 classvalue/v1/1_000
  jsonschema/apis/ClassValue_v1_000.json
Labels: API

#927 Update ApacNephrologies_1_000.json
  jsonschema/schemas/ApacNephrologies_1_000.json
Labels: Schema
