Repository totvs/ttalk-standard-message, pull requests merged in 2022-04, with the labels that each got.

#992 TSIServiceStatus/v1
  jsonschema/apis/TSIServiceStatus_v1_000.json
Labels: API

#993 TSIIntegrationErrors/v1/1_000
  jsonschema/apis/TSIIntegrationErrors_v1_000.json
  jsonschema/schemas/TSIIntegrationErrors_1_000.json
Labels: API, Schema

#995 TSIServiceStatus/1_000
  jsonschema/schemas/TSIServiceStatus_1_000.json
Labels: Schema

#996 TSIIntegrationErrors/v1/1_000
  jsonschema/apis/TSIIntegrationErrors_v1_000.json
  jsonschema/schemas/TSIIntegrationErrors_1_000.json
Labels: API, Schema
